[Unit]
After=network.target

[Service]
WorkingDirectory=/opt/monitoring-cms
ExecStart=/opt/monitoring-cms/monitoring-cms

[Install]
WantedBy=multi-user.target
